*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #5c5c5c36;
  border-radius: 10px
}
*::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px
}
*::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}
@font-face {
  font-family: 'DrukWideBold';
  src: url(https://arenafan.tv/app/assets/static/Druk\ Wide\ Bold.ttf);
}
@font-face {
  font-family: 'Avenir';
  src: url(https://arenafan.tv/app/assets/static/AvenirRegular.otf);
}
h1 {
  font-size: 1rem;
}
span{
  letter-spacing: 0.025rem;
}
textarea {
  resize: none!important;
}
input::placeholder{
  color: white!important;
  font-family: 'DrukWideBold';
}
#sidebarMenu{
  background-image: url(https://arenafan.tv/app/assets/static/BARRA\ DE\ BUSQUEDA.jpg);
}
.scouting-background__image{
  background-image: url(../RECURSOS\ GRÃFICOS/INTERFAZ\ VISOR\ SCOUTING\ VERTICAL.jpg);
}
.home-background__image{
  background-image: url(https://arenafan.tv/app/assets/static/INTERFAZ\ PRINCIPAL\ VERTICAL.jpg)
}
@media screen and (min-width: 640px) {
  .home-background__image{
    background-image: url(https://arenafan.tv/app/assets/static/INTERFAZ\ PRINCIPAL.png)
  }
}
.user-background__image{
  background-image: url(https://arenafan.tv/app/assets/static/INTERFAZ\ PERFIL\ FAN\ VERTICAL.jpg)
}
@media screen and (min-width: 640px) {
  .user-background__image{
    background-image: url(https://arenafan.tv/app/assets/static/INTERFAZ\ PERFIL\ FAN.png)
  }
}
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
.active {
  color: white!important;
  opacity: 1!important;
}
.show{
  left: 0!important;
  transition: all 0.3s ease-in-out;
}
#navigationList li, 
#sidebarLista li{
  cursor: pointer;
}