@font-face {
  font-family: 'DrukWideBold';
  src: url(https://arenafan.tv/app/assets/static/Druk\ Wide\ Bold.ttf);
}
@font-face {
  font-family: 'Avenir';
  src: url(https://arenafan.tv/app/assets/static/AvenirRegular.otf);
}
*{
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #5c5c5c36;
  border-radius: 10px
}
*::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px
}
*::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}
.bg-gradient{
  background: rgb(81,81,81);
  background: linear-gradient(180deg, rgba(78,78,78,1) 20%, rgba(25,25,25,1) 100%);
}
h1 {
  font-size: 1rem;
}
span{
  letter-spacing: 0.025rem;
}
textarea {
  resize: none!important;
}
input::placeholder{
  color: rgb(134, 134, 134);
}
#scoutingSearch::placeholder{
  color: rgb(134, 134, 134);
}
/* #sidebarMenu{
  background-image: url(https://arenafan.tv/app/assets/static/BARRA\ DE\ BUSQUEDA.jpg);
} */
.scouting-background__image{
  background-image: url(../RECURSOS\ GRÃFICOS/INTERFAZ\ VISOR\ SCOUTING\ VERTICAL.jpg);
}

@media screen and (min-width: 769px) {
  .home-background__image{
    background-image: url(./images/bgCreateAccount.png);
    background-color: #131313;
  }
}
.user-background__image{
  background-color: #131313;
}
/* @media screen and (min-width: 640px) {
  .user-background__image{
    background-color: #131313;
  }
} */
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
.active {
  color: #c9950d!important;
  opacity: 1!important;
}
.show{
  left: 0!important;
  transition: all 0.3s ease-in-out;
}
.showRight{
  display: flex!important;
  flex-direction: column;
  right: 0!important;
  transition: all 0.3s ease-in-out;
}
#navigationList li, 
#sidebarLista li{
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.posts-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* .grid-container::-webkit-scrollbar-track {
  background: #5c5c5c36;
  border-radius: 10px
}
.grid-container::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px
}
.grid-container::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
} */

.item {
  background-color: #292929;
  border: 1px solid #292929;
  text-align: center;
  max-width: 33.33vw;
  overflow: hidden;
}

.item-2x1 {
  grid-row: span 2;
  max-height: 66.66vw;
}
.item-2x1 img{
  height: 100%;
  width: auto;
  max-width: unset;
}

.item-1x2 {
  grid-column: span 2;
}

@media screen and (min-width: 769px) {
  .item {
    max-width: 256px;
  }
  .item-2x1 {
    max-height: 512px;
  }
}

.active-scout__nav{
  border-bottom: solid 2px #c9950d;
  color: #c9950d!important;
}